
<script>
    function GoToPaiement() {
        window.location = "";
    }
</script>



<br /><br /><br /><br />
<h3>Souhaitez-vous souscrire une assurance pour ce voyage?</h3>
<form>
    <input type="radio" name="assurance" checked="checked"/> Non <br />
    <input type="radio" name="assurance" /> Assurance annulation <br />
    <input type="radio" name="assurance" /> Assurance Rapatriement <br />
    <input type="radio" name="assurance" /> Assurance Vol <br />
</form><br/>
<button type="button" onclick="GoToPaiement()"> Passer au paiement </button>

