
@{
    ViewBag.Title = "Affichage Voyage";
}

<script>
    $(document).ready(function () {
        $('#listeVoyageTrie').click(function () {
            var lieu = $('#lieu').val();
            var txtlieu = $('#txtlieu').val();
            $.ajax({
                type: "GET",
                url: "https://localhost:44307/Api/Voyages/?lieu=" + lieu + "&txtlieu=" + txtlieu,
                datatype: 'application/json',
                contentType: 'application/json',
                success: function (data, status) {
                    if (status == "success") {
                        fragment = "<table>";
                        for (var i = 0; i < data.length; i++) {
                            fragment += "<tr><td>" +
                                "<p>" + data[i].Pays + data[i].Continent + " </p></td>";
                        }
                        fragment += "</tr></table>"
                        $('#div1').html(fragment);
                    }
                },
                error: function (xhr, status, error) {
                    $('#div1').html("Erreur");
                }
            });
        });
    });
</script>


<h1>Ajout des voyages finis</h1>
<h1 style="text-align:center">Gallerie Photo</h1>
<div>
    Album :
    <select id="lieu">
        <option></option>
        <option value="Continent">Continent</option>
        <option value="Pays">Pays</option>
        <option value="Region">Region</option>
    </select>
    <input type="text" id="txtlieu"/>
    <br /><br />
    <input type="button" id="listeVoyageTrie" value="Go" />
    <br /><br />

    <div id="div1"></div>
</div>

<hr />