
@{
    ViewBag.Title = "GestionDossiers";
}

<h2>GestionDossiers</h2>

<div>
    <table>
        <tr>
            <td>
                Numéro de dossier
            </td>
            <td>
                coucou2
            </td>
            <td>
                coucou3
            </td>
        </tr>
    </table>
</div>
