<script>
    function GoToRecap() {

        var Assurance;
        if (document.getElementById("oui").checked == true) { Assurance = true };
        if (document.getElementById("non").checked == true) { Assurance = false };
        window.location = "https://localhost:44307/Home/ValideAssurance/?assurance=" + Assurance;
    }
</script>



<br />
<br />
<br />
<br />
<h3>Souhaitez-vous souscrire une assurance annulation pour ce voyage?</h3>
<form>
    <input type="radio" id="oui" name="assurance" checked="checked" /> Oui <br />
    <input type="radio" id="non" name="assurance" /> Non <br />
</form>
<br />
<button type="button" onclick="GoToRecap()"> Récapitulatif de commande </button>