@model BoVoyage.Scenario1.Models.TraitementBD
@*@{ ViewBag.Title = "BoVoyage"; }
    <div class="jumbotron">
        <h1>BoVoyage</h1>

    </div>

    @Html.ActionLink("Mise à jour liste voyages", "UploadCsv", "Home", new { area = "" })*@

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Bienveue sur BoVoyage ! Ca va être pas mal
            </p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        </div>
    </div>*@


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet"> <!--load all styles -->
    <style>

        table {
            border-collapse: collapse;
            position:absolute;
            left:68%;
        }
        td {
            box-shadow: 1px 1px 12px #D8D8D8;
            padding : 2px;           
        }

        .border2 {
            width: 95%;
            float: right;
            padding: 5px;
            background: #EFEFEE;
            color: black;
            /*            border-style: groove;
            border-color: #EFEFEE;*/
            box-shadow: 1px 1px 12px #D8D8D8;
        }

        .border1 {
            padding: 5px;
            background: white;
            color: black;
            /*            border-style: groove;
            border-color: #EFEFEE;*/
            text-align: center;
            width: 5%;
            float: left;
            box-shadow: 1px 1px 12px #D8D8D8;
        }

        .anybutton {
            left: 74%;
            width: 200px;
            height: 40px;
            position: absolute;
            background: lightskyblue;
            color: white;
            border-radius: 6px;
            border: none;
            font-weight: bold;
        }

        .textcenter {
            width: 100%;
            padding: 10px;
            background: lightskyblue;
            color: white;
            border-radius: 6px;
            border: none;
            font-weight: bold;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <h3 class="textcenter">Votre Devis</h3>

    <div class="row">
        <div class="col-sm-3">
            <div>
                <div>
                    <div style="box-shadow: 1px 1px 12px #D8D8D8">
                        <h4 style="color:black"><strong>C-SHARK</strong></h4>
                        <p><em style="font-size:x-small">Des voyages complètement marteaux</em></p>
                        <div style="color:black">
                            <p>Place de la Cathédrale</p>
                            <p>67000 Strasbourg</p>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <div style="box-shadow: 1px 1px 12px #D8D8D8">
                        <p>Référence : ID Dossier</p>
                        <p>Date : Date du devis</p>
                        <p>N° Client : ID du client</p>
                        <p>Nom - Prénom</p>
                        <p>Mail : tuning@nord.com</p>
                        <p>Numéro de téléphone : 0782786557</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-9">

            <div class="border1">1</div>
            <div class="border2"><strong> Nombre de voyageurs</strong></div>
            <p style="position:relative;top:10px">&nbsp;2 adulte(s)</p>
            <br />

            <div class="border1">2</div>
            <div class="border2"><strong> Destination</strong></div>
            <p style="position:relative;top:10px">&nbsp;Région, Pays, Continent</p>
            <br />

            <div class="border1">3</div>
            <div class="border2"><strong> Date aller</strong></div>
            <p style="position:relative;top:10px">&nbsp;00/00/0000</p>
            <br />

            <div class="border1">4</div>
            <div class="border2"><strong> Date retour</strong></div>
            <p style="position:relative;top:10px">&nbsp;00/00/0000</p>
            <br />
        </div>
    </div>
    <br />
    <br />
    <table>
        <tr>
        <td>Prix unitaire TTC en euros</td>
        <td>&nbsp;&nbsp;100 €</td></tr>
        <tr><td><strong>Prix total TTC en euros</strong></td>
        <td><strong>&nbsp;&nbsp;200 €</strong></td></tr>
    </table>
    <br />
    <br />
</body>
</html>








