@{
    ViewBag.Title = "Accueil";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYi
qJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<div>
    <div class="jumbotron">
        <h1> ! Bo Voyage par Wattapik ! </h1>
        <p class="lead"> Choisissez Wattapik pour des voyages funs et exceptionnels dont vous vous souviendrez toute votre vie.</p>
    </div>

    <table border="0" align="center" width="75%" cellpadding="150" cellspacing="20">
        <tr>
            <td>
                    <div class="col-md-4">
                        <div class="card" style="width: 30rem;">
                            <img id="bresil" src="~/Photo/bresil1.jpg" width="300" height="200" />
                            <div class="card-body">
                                <h3 class="card-title"> Bresil </h3>
                                <p class="card-text">
                                    Pourquoi aller au Brésil ? Tout simplement pour son exubérance, sa nature, son histoire, la culture de ses tribus amazoniennes.
                                    Il y a quelque chose d’irrationnel au Brésil, qui stimule la joie de vivre. Naturellement chaleureux et accueillants, les Brésiliens n’ont que peu d’efforts à faire pour enchanter le visiteur. Mais ce qui rend un voyage au Brésil à nul autre pareil, c’est que cette atmosphère unique s’ajoute à l’impressionnant panel de richesses du géant sud-américain.
                                </p>
                                <a href="#" class="btn btn-primary">A partir de 800 €</a>
                            </div>
                        </div>
                    </div>
            </td>
            <td>
                <div class="col-md-4">
                    <div class="card" style="width: 30rem;">
                        <img src="~/Photo/cuba1.jpg" width="300" height="200" />
                        <div class="card-body">
                            <h3 class="card-title"> Cuba </h3>
                            <p class="card-text">
                                Un classique entre ville et mer ! Ce voyage vous promet modernité, élégance et confort, situé au cœur du quartier des affaires de La Havane, en face du Miramar Trade Center et à proximité du front de mer.
                                Cet hôtel propose une connexion Wi-Fi gratuite et est entièrement non-fumeurs, conformément aux tendances actuelles de l'industrie hôtelière.
                                Recommandé pour les voyages d’affaires, les voyages d'incitation, les mariages et les lunes de miel.
                            </p>
                            <a href="#" class="btn btn-primary"> A partir de 500 €</a>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="col-md-4">
                    <div class="card" style="width: 30rem;">
                        <img src="~/Photo/kenya2.jpg" width="300" height="200" />
                        <div class="card-body">
                            <h3 class="card-title"> Kenya </h3>
                            <p class="card-text">Un voyage au Kenya, destination des safaris par excellence, est l’occasion de découvrir une nature puissante et omniprésente et de rencontrer le peuple masaï, gardien de ce paradis aux traditions ancestrales. Nos spécialistes de l'Afrique ont concocté pour vous les meilleures offres de circuits accompagnés et de safaris au Kenya… À vous de choisir l’itinéraire de vos rêves, sur les pistes de Karen Blixen et d’Hemingway…</p>
                            <a href="#" class="btn btn-primary">A partir de 700 €</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-4">
                    <div class="card" style="width: 30rem;">
                        <img src="~/Photo/stras.jpg" width="300" height="200" />
                        <div class="card-body">
                            <h3 class="card-title"> Islande </h3>
                            <p class="card-text">
                                L'Islande est un petit paradis sur Terre. 
                                Ce petit bout de terre compte un peu plus de 300 000 habitants dont la plus part résident à la capitale, Reykjavik. 
                                Le reste de la population est réparti dans de petits villages sur le littoral qui contourne le pays.
                                Offrez-vous l'Islande en croisière ou lors d'un circuit inoubliable ! Fjords, geysers, aurores boréales, champs de lave, faune aquatique incroyable… 
                                les paysages sont à couper le souffle et la rencontre avec la nature unique.

                            </p>
                            <a href="#" class="btn btn-primary">A partir de 1 500 €</a>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="col-md-4">
                    <div class="card" style="width: 30rem;">
                        <img src="~/Photo/seychelles.jpg" width="300" height="200" />
                        <div class="card-body">
                            <h3 class="card-title"> Seychelles </h3>
                            <p class="card-text">
                                Les Seychelles…rien que le nom nous invite au rêve. Cet archipel, composé de pas moins de 115 îles et îlots, se situe au beau milieu de l’Océan Indien, au nord-est de Madagascar, au niveau de la frontière entre la Tanzanie et le Kenya.
                                Les Seychelles sont connues pour leur succession de plages plus paradisiaques les unes que les autres, et plus particulièrement les grands rochers de granit poli qui les encadrent.
                                Découverte des îles, baignade, plongée, pêche et farniente seront au programme, et bien d’autres surprises.
                                Des dizaines de randonnées aériennes ou sous-marines n’attendent que vous.
                            </p>
                            <a href="#" class="btn btn-primary">A partir de 1 500 €</a>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="col-md-4">
                    <div class="card" style="width: 30rem;">
                        <img src="~/Photo/Perou1.jpg" width="300" height="200" />
                        <div class="card-body">
                            <h3 class="card-title"> Perou </h3>
                            <p class="card-text">Pour bien des voyageurs, le Pérou est le pays des Andes, des Incas… et du Machu Picchu. Bien que la cité perdue conforte cet imaginaire, une mer fertile et prodigieuse a fait surgir d’autres empires aux vestiges prestigieux, Nazcas, Paracas, Mochicas, et des villes coloniale aux centres historiques inscrits au patrimoine mondial de l’Unesco, embellis de balcons sculptés le long de ruelles étroites et de places soignées… C’est ce que vous invitent à découvrir notre palette de voyages au Pérou.</p>
                            <a href="#" class="btn btn-primary">A partir de 600 €</a>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>