@model List<BoVoyage.Scenario1.Dal.Voyage>
@{ ViewBag.Title = "C Shark"; }

<body>
    @Html.ActionLink("Reserver \"On Lorgne à Bologne\"", "UpdatePanier", "Home", new { area = "" })
    <br />
    @{
        foreach (var v in Model)
        {
            <hr />
            @Html.ActionLink("Reserver" + v.Libelle , "Reserver", new { id = v.Id })
        }
    }
    <div class="modal-body row">
        <div class="col-md-6">
            <!-- Your first column here -->
            <!-------------------------------------------------------------------------------------------->
            <div class="img-rounded " style="box-shadow: 1px 1px 12px #D8D8D8">
                <a href="#">
                    <img src="~/Dessins/londres.jpg" class="img-rounded" style="width:100%" /><!--1036*658-->
                </a>
                <div style="padding:10px">
                    <div class="content">
                        <h4 style="color:lightskyblue">Londres - Angleterre</h4>
                        <div style="color:dimgray">
                            <p>Description</p>
                            <p style="font-weight:bolder">Prix : 126 €</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------------------------------------------------------------------------->
            </br>
            <!-------------------------------------------------------------------------------------------->
            <div class="img-rounded " style="box-shadow: 1px 1px 12px #D8D8D8">
                <a href="#">
                    <img src="~/Dessins/valenciennes.jpg" class="img-rounded" style="width:100%" /><!--1036*658-->
                </a>
                <div style="padding:10px">
                    <div class="content">
                        <h4 style="color:lightskyblue">Valenciennes - France</h4>
                        <div style="color:dimgray">
                            <p>Description</p>
                            <p style="font-weight:bolder">Prix : 12 €</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------------------------------------------------------------------------->
            </br>
            <!-------------------------------------------------------------------------------------------->
            <div class="img-rounded " style="box-shadow: 1px 1px 12px #D8D8D8">
                <a href="#">
                    <img src="~/Dessins/tokyo.jpg" class="img-rounded" style="width:100%" /><!--1036*658-->
                </a>
                <div style="padding:10px">
                    <div class="content">
                        <h4 style="color:lightskyblue">Tokyo - Japon</h4>
                        <div style="color:dimgray">
                            <p>Description</p>
                            <p style="font-weight:bolder">Prix : 1251 €</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------------------------------------------------------------------------->
        </div>
        <div class="col-md-6">
            <!-- Your second column here -->
            <!-------------------------------------------------------------------------------------------->
            <div class="img-rounded " style="box-shadow: 1px 1px 12px #D8D8D8">
                <a href="#">
                    <img src="~/Dessins/seoul2.jpg" class="img-rounded" style="width:100%" /><!--1036*658-->
                </a>
                <div style="padding:10px">
                    <div class="content">
                        <h4 style="color:lightskyblue">Séoul - Corée du Sud</h4>
                        <div style="color:dimgray">
                            <p>Description</p>
                            <p style="font-weight:bolder">Prix : 638 €</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------------------------------------------------------------------------->
            </br>
            <!-------------------------------------------------------------------------------------------->
            <div class="img-rounded " style="box-shadow: 1px 1px 12px #D8D8D8">
                <a href="#">
                    <img src="~/Dessins/moscou.jpg" class="img-rounded" style="width:100%" /><!--1036*658-->
                </a>
                <div style="padding:10px">
                    <div class="content">
                        <h4 style="color:lightskyblue">Moscou - Russie</h4>
                        <div style="color:dimgray">
                            <p>Description</p>
                            <p style="font-weight:bolder">Prix : 1024 €</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------------------------------------------------------------------------->
            </br>
            <!-------------------------------------------------------------------------------------------->
            <div class="img-rounded " style="box-shadow: 1px 1px 12px #D8D8D8">
                <a href="#">
                    <img src="~/Dessins/mulhouse.jpg" class="img-rounded" style="width:100%" /><!--1036*658-->
                </a>
                <div style="padding:10px">
                    <div class="content">
                        <h4 style="color:lightskyblue">Mulhouse - France</h4>
                        <div style="color:dimgray">
                            <p>Description</p>
                            <p style="font-weight:bolder">Prix : 68 €</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-------------------------------------------------------------------------------------------->
        </div>
    </div>
</body>