@{
    ViewBag.Title = "Réservation d'un voyage - Responsable";
}

<h2>Réservation du voyage</h2>
<br />
@using (Html.BeginForm("InformationClient", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Responsable du voyage</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="true" name="Entreprise" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Je m'enregistre au nom d'une entreprise
        </label>
    </div>
    <!--<input type="checkbox" id="Entreprise" name="Entreprise" value="true" /> Je m'enregistre au nom d'une entreprise <br /> <br />-->

    <!--Liste civilité-->
    <div class="input-group mb-3">
        <div style="width:20%;" class="input-group-prepend ">
            <label class="input-group-text " for="Civilite">Civilité :</label>
        </div>
        <select style="width:50%;" class="form-select" id="Civilite" name="Civilite" required>
            <option selected disabled value=''>Civilité</option>
            <option value='Mr'>Mr</option>
            <option value='Mme'>Mme</option>
        </select>
        <div class="invalid-feedback">
            Veuillez sélectionner votre civilité.
        </div>
    </div>

    <!--Nom-->
    <div class="input-group mb-3">
        <div style="width:20%;" class="input-group-prepend ">
            <label class="input-group-text " for="Nom">Nom :</label>
        </div>
        <input type="text" id=Nom class="form-control" name="Nom" placeholder="NOM" required>
        <div class="invalid-feedback">
            Veuillez remplir ce champ.
        </div>
    </div>

    <!--Prénom-->
    <div class="input-group mb-3">
        <div style="width:20%;" class="input-group-prepend ">
            <label class="input-group-text " for="Prenom">Prénom :</label>
        </div>
        <input type="text" id=Prenom class="form-control" name="Prenom" placeholder="Prénom" required>
        <div class="invalid-feedback">
            Veuillez remplir ce champ.
        </div>
    </div>

    <!--Adresse mail-->
    <div class="input-group mb-3">
        <div style="width:20%;" class="input-group-prepend ">
            <label class="input-group-text " for="Mail">Email :</label>
        </div>
        <input type="text" id=Mail class="form-control" name="Mail" placeholder="exemple@domaine.fr" required>
        <div class="invalid-feedback">
            Veuillez remplir ce champ.
        </div>
    </div>

    <!--Téléphone-->
    <div class="input-group mb-3">
        <div style="width:20%;" class="input-group-prepend ">
            <label class="input-group-text " for="Telephone">Numéro de téléphone :</label>
        </div>
        <input type="text" id=Telephone class="form-control" name="Telephone" placeholder="N° de téléphone" required>
        <div class="invalid-feedback">
            Veuillez remplir ce champ.
        </div>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="Participe" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Je participe
        </label>
    </div>

    <!--Bouton validation-->
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Inscrire les participants au voyage</button>
        @(Html.ActionLink("Retourner à la liste des voyages", "Index", "Home", new { area = "" }, new { @class = "btn btn-secondary" }))
    </div>


</div>
}

@section Scripts{
    <script>


        /*--------------------------------------
        //Désactiver le remplissage automatique sur tout le formulaire
        ---------------------------------------*/
        $(document).ready(function () {
            $('form').attr('autocomplete', 'off');
        });

        /*--------------------------------------
        //Erreur
        --------------------------------------*/
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
}

<!--Vincent-->
<!--

< script >
            function GoToParticipant() {

                var Nom = document.getElementById("nom").value;
                var Prenom = document.getElementById("prenom").value;
                var Mail = document.getElementById("mail").value;
                var Tel = document.getElementById("tel").value;
                var PersMor;
                if (document.getElementById("mr").checked == true) { PersMor = "Mr" };
                if (document.getElementById("mme").checked == true) { PersMor = "Mme" };
                if (document.getElementById("entreprise").checked == true) { PersMor = "Entreprise" };

                var url = "https://localhost:44307/Home/Participant/?nom=" + Nom + "&mail=" + Mail + "&telephone=" + Tel + "&prenom=" + Prenom + "&personneMorale=" + PersMor;
                window.location = url;
            }
    </script>

<table>
    <tr>
        <th>Civilité : </th>
        <th>
            <form>
                <select>
                    <option id="mr"> Mr.</option>
                    <option id="mme"> Mme.</option>
                </select>
            </form>
        </th>
    </tr>
    <tr><th>Nom : </th><th><input type="text" size="25" id="nom" /></th></tr>
    <tr><th>Prenom : </th><th><input type="text" size="25" id="prenom" /></th></tr>
    <tr><th>Adresse Mail : </th><th><input type="text" size="25" id="mail" /></th></tr>
    <tr><th>Telephone : </th><th><input type="text" size="25" id="tel" /></th></tr>
</table>
    -->
