
<br/>
<br/>
<script>
    function Paiement() {
        window.location = "https://localhost:44307/Home/Validation";
    }
</script>

<h2>
    Récapitulatif de voyage
</h2>
<button type="button" onclick="Paiement()"> Simulez un paiement</button>
