<br />
<br />

<script>
    function Retour() {
        window.location = "https://localhost:44307/Home/Index";
    }
</script>
<h4>
    Votre Voyage à été correctement enregistré, vous recevrez prochainement un email du conseillé qui vous sera affecté et il vous comfirmera votre départ dans le cas où il reste suffisament de place pour ce voyage.
</h4>
<button type="button" onclick="Retour()"> Retour à l'accueil</button>
